.mat-mdc-form-field.mat-form-field-appearance-fill .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
    position: static;
    display: flex;
    align-items: center;
    width: 50% !important;
    min-height: 48px;
    padding: 0;
    border: 0;
}
form{

    width: 100%;
    display: inline-block;


  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-mdc-form-field {
    margin-top: 16px;
  }

  h1{
    color: #eb6329;
    text-align: center;
  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  mat-form-field {
    width: 90%;
  }
  .date{
    width:50%;
  }
  mat-label,span, .mat-step-text-label,h4{
    color:#1c3b67;
   font-weight: bold;
  }
  .mat-step-header {
  background-color: #eb6329;

  }
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .example-margin {
    margin: 0 10px;
  }
