<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <app-table-deforestation></app-table-deforestation>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12">
          <app-table-afforestation-and-reforestation></app-table-afforestation-and-reforestation>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-table-grassland></app-table-grassland>
        </div>
      </div> -->
     
  </div>
  