<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<mat-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>Type & level</ng-template>
        <div class="card">
            <div class="card-header bg-dark text-white">
                <strong>Type</strong>
                <strong style="margin-left: 400px;">Forest degragation level</strong>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <strong>Type of forest vegetation </strong>
                    </div>
                    <div class="col">
                        <strong>Strat</strong>
                    </div>
                    <div class="col">
                        <strong>Without</strong>
                    </div>
                    <div class="col">
                        <strong>With</strong>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" id="selectBiome">
                              <option value="Subtropical humid forest">Subtropical humid forest</option>
                              <option value="Subtropical dry forest">Subtropical dry forest</option>
                              <option value="Subtropical steppe">Subtropical steppe</option>
                              <option value="Subtropical mountain systems">Subtropical mountain systems</option>
                              <option value="Planeted Subtropical humid forest">Planeted Subtropical humid forest</option>
                              <option value="Planeted dry forest">Planeted dry forest</option>
                              <option value="Planeted steppe">Planeted steppe</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" name="start1" [(ngModel)]="start1" id="selectIntensity">
                              <option value="0">None</option>
                              <option value="1">Very low</option>
                              <option value="2">Low</option>
                              <option value="3">Moderate</option>
                              <option value="4">Large</option>
                              <option value="5">Extreme</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" name="without1" [(ngModel)]="without1" id="selectIntensity">
                              <option value="0">None</option>
                              <option value="1">Very low</option>
                              <option value="2">Low</option>
                              <option value="3">Moderate</option>
                              <option value="4">Large</option>
                              <option value="5">Extreme</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" name="with1" [(ngModel)]="with1" id="selectIntensity">
                              <option value="0">None</option>
                              <option value="1">Very low</option>
                              <option value="2">Low</option>
                              <option value="3">Moderate</option>
                              <option value="4">Large</option>
                              <option value="5">Extreme</option>
                            </select>
                          </div>
                          
                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" id="selectBiome">
                              <option value="Subtropical humid forest">Subtropical humid forest</option>
                              <option value="Subtropical dry forest">Subtropical dry forest</option>
                              <option value="Subtropical steppe">Subtropical steppe</option>
                              <option value="Subtropical mountain systems">Subtropical mountain systems</option>
                              <option value="Planeted Subtropical humid forest">Planeted Subtropical humid forest</option>
                              <option value="Planeted dry forest">Planeted dry forest</option>
                              <option value="Planeted steppe">Planeted steppe</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" name="start2" [(ngModel)]="start2" id="selectIntensity">
                              <option value="0">None</option>
                              <option value="1">Very low</option>
                              <option value="2">Low</option>
                              <option value="3">Moderate</option>
                              <option value="4">Large</option>
                              <option value="5">Extreme</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" name="without2" [(ngModel)]="without2" id="selectIntensity">
                              <option value="0">None</option>
                              <option value="1">Very low</option>
                              <option value="2">Low</option>
                              <option value="3">Moderate</option>
                              <option value="4">Large</option>
                              <option value="5">Extreme</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" name="with2" [(ngModel)]="with2" id="selectIntensity">
                              <option value="0">None</option>
                              <option value="1">Very low</option>
                              <option value="2">Low</option>
                              <option value="3">Moderate</option>
                              <option value="4">Large</option>
                              <option value="5">Extreme</option>
                            </select>
                          </div>
                          
                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" id="selectBiome">
                              <option value="Subtropical humid forest">Subtropical humid forest</option>
                              <option value="Subtropical dry forest">Subtropical dry forest</option>
                              <option value="Subtropical steppe">Subtropical steppe</option>
                              <option value="Subtropical mountain systems">Subtropical mountain systems</option>
                              <option value="Planeted Subtropical humid forest">Planeted Subtropical humid forest</option>
                              <option value="Planeted dry forest">Planeted dry forest</option>
                              <option value="Planeted steppe">Planeted steppe</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" name="start3" [(ngModel)]="start3" id="selectIntensity">
                              <option value="0">None</option>
                              <option value="1">Very low</option>
                              <option value="2">Low</option>
                              <option value="3">Moderate</option>
                              <option value="4">Large</option>
                              <option value="5">Extreme</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" name="without3" [(ngModel)]="without3" id="selectIntensity">
                              <option value="0">None</option>
                              <option value="1">Very low</option>
                              <option value="2">Low</option>
                              <option value="3">Moderate</option>
                              <option value="4">Large</option>
                              <option value="5">Extreme</option>
                            </select>
                          </div>
                          
                    </div>
                    <div class="col">
                        <div class="form-group">
                            
                            <select class="form-control" name="with3" [(ngModel)]="with3" id="selectIntensity">
                              <option value="0">None</option>
                              <option value="1">Very low</option>
                              <option value="2">Low</option>
                              <option value="3">Moderate</option>
                              <option value="4">Large</option>
                              <option value="5">Extreme</option>
                            </select>
                          </div>
                          
                    </div>

                </div>
                <!-- Repeat the above structure for other rows -->
            </div>
        </div>
        <div style="margin-top: 10px;">

            <button mat-button matStepperNext mat-raised-button color="primary" [disabled]="!start1 || !without1 || !with1" 
              style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Fire</ng-template>
        <div class="card">
            <div class="card-header bg-dark text-white">
                <strong>Fire occurrence</strong>
                <strong style="margin-left: 230px;">Fire periodicity</strong>
                <strong style="margin-left: 200px;">Fire impact (% brunt)</strong>
            </div>
            <div class="card-body">
            
                <div class="row">
                    <div class="col">
                        <strong>with</strong>
                    </div>
                    <div class="col">
                        <strong>Without</strong>
                    </div>
                    <div class="col">
                        <strong>with</strong>
                    </div>
                    <div class="col">
                        <strong>Without</strong>
                    </div>
                    <div class="col">
                        <strong>with</strong>
                    </div>
                    <div class="col">
                        <strong>Without</strong>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <select class="form-control">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <select class="form-control">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <select class="form-control">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
                </div>
                <!-- Repeat the above structure for other rows -->
            </div>
        </div>
        <div style="margin-top: 10px;">
            <button mat-button matStepperPrevious mat-raised-button color="warn"
              style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
            <button mat-button matStepperNext mat-raised-button color="primary" 
              style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
          </div>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Total</ng-template>
        <div class="card">
            <div class="card-header bg-dark text-white">
              Forest area (ha)
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <strong>Strat</strong>
                </div>
                <div class="col">
                  <strong>Without</strong>
                </div>
                <div class="col">
                  <strong>with</strong>
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="col">
                    <input class="form-control" name="startarea1" [(ngModel)]="startarea1" placeholder="Please select">
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Please select">
                </div>
                <div class="col">
                        <input class="form-control" placeholder="Please select">
                    </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                    <input class="form-control" name="startarea2" [(ngModel)]="startarea2" placeholder="Please select">
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Please select">
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Please select">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                    <input class="form-control" name="startarea3" [(ngModel)]="startarea3" placeholder="Please select">
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Please select">
                </div>
                <div class="col">
                    <input class="form-control" placeholder="Please select">
                </div>
              </div>
              <!-- Repeat the above structure for other rows -->
            </div>
          </div>
          <div style="margin-top: 10px;">
            <button mat-button matStepperPrevious mat-raised-button color="warn"
              style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
              <button mat-button matStepperNext mat-raised-button   [disabled]="!startarea1" (click)="calcul()"
              style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px; background-color: darkgreen; color: aliceblue;">Save</button>
                </div>
          
    </mat-step>
    <mat-step label="Result">
        <table class="table">
          <thead class="table-success">
            <tr>
              
              <th colspan="2">
                Total emissions (tCO2-e)
              </th>
              <th rowspan="2">
                Balance
              </th>
            </tr>
            <tr>
           
              <th>Without</th>
              <th>With</th>
            </tr>
          </thead>
          <tbody>
     
            <td>{{withoutResult1}}</td>
            <td>{{withResult1}}</td>
            <td>0</td>
          </tbody>
        </table>
        <div style="margin-top: 10px;">
          <button mat-button matStepperPrevious mat-raised-button color="warn"
            style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
          <button mat-button matStepperNext mat-raised-button color="primary" 
            style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
        </div>
      </mat-step>
    <mat-step>
        <ng-template matStepLabel>Chart</ng-template>
        <app-chart></app-chart>
    </mat-step>

</mat-stepper>