<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<mat-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Step 1</ng-template>

    <div class="card">
      <div class="card-header bg-dark text-white">

        <strong>Description</strong>
        <strong style="margin-left: 370px;">Grassland managment</strong>

      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <strong>Grassland Systems</strong>
          </div>
          <div class="col">
            <strong>Start</strong>
          </div>
          <div class="col">
            <strong>Without</strong>
          </div>
          <div class="col">
            <strong>With</strong>
          </div>

        </div>
        <hr>

        <div class="row">
          <div class="col">
            Grasslands after deforestation
          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>

        </div>
        <hr>

        <div class="row">
          <div class="col">
            Grasslands converted to forest land
          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>

        </div>
        <hr>

        <div class="row">
          <div class="col">
            Grasslands after non-forest LUs
          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col">
            Grasslands converted to non-forest LUs
          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>
          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Non-degraded">Non-degraded</option>
                <option value="High intensity grazing">High intensity grazing</option>
                <option value="Severely degraded">Severely degraded</option>
                <option value="Improved grassland">Improved grassland</option>
                <option value="Improved with medium inputs">Improved with medium inputs</option>
                <option value="Improved with high inputs">Improved with high inputs</option>
              </select>
            </div>

          </div>

        </div>


      </div>
    </div>
    <div style="margin-top: 10px;">

      <button mat-button matStepperNext mat-raised-button color="primary"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
    </div>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 2</ng-template>

    <div class="card">
      <div class="card-header bg-dark text-white">



        <strong>Fire managment</strong>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col">
            <strong>Without</strong>
          </div>
          <div class="col">
            <strong>With</strong>
          </div>

        </div>
        <hr>

        <div class="row">

          <div class="col">
            <div class="form-group">

              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Please select </option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <select class="form-control" id="selectOption">
                <option value="" disabled selected>Years </option>
                <option value="5">5</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="col">
            <select class="form-control" id="selectOption">
              <option value="" disabled selected>Please select </option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <select class="form-control" id="selectOption">
              <option value="" disabled selected>Years </option>
              <option value="5">5</option>
              <option value="5">5</option>
            </select>
          </div>

        </div>




      </div>
    </div>
    <div style="margin-top: 10px;">
      <button mat-button matStepperPrevious mat-raised-button color="warn"
      style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
      <button mat-button matStepperNext mat-raised-button color="primary"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
    </div>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Step 3</ng-template>
    <div class="card">
      <div class="card-header bg-dark text-white">
        Yield
      </div>
      <div class="card-body">
        <hr>
        <div class="row">
          <div class="col">
            <strong>Start</strong>
          </div>
          <div class="col">
            <strong>Without</strong>
          </div>
          <div class="col">
            <strong>With</strong>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <input class="form-control" name="start1" [(ngModel)]="start1" placeholder="value" type="number">
          </div>
          <div class="col">
            <input class="form-control" name="without1" [(ngModel)]="without1" placeholder="value" type="number">
          </div>
          <div class="col">
            <input class="form-control" name="with1" [(ngModel)]="with1" placeholder="value" type="number">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <input class="form-control" name="start2" [(ngModel)]="start2" placeholder="value" type="number">
          </div>
          <div class="col">
            <input class="form-control" name="without2" [(ngModel)]="without2" placeholder="value" type="number">
          </div>
          <div class="col">
            <input class="form-control" name="with2" [(ngModel)]="with2" placeholder="value" type="number">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <input class="form-control" name="start3" [(ngModel)]="start3" placeholder="value" type="number">
          </div>
          <div class="col">
            <input class="form-control" name="without3" [(ngModel)]="without3" placeholder="value" type="number">
          </div>
          <div class="col">
            <input class="form-control" name="with3" [(ngModel)]="with3" placeholder="value" type="number">
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top: 10px;">
      <button mat-button matStepperPrevious mat-raised-button color="warn"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>

      <button mat-button matStepperNext mat-raised-button (click)="calcul()"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px; background-color: darkgreen; color: aliceblue;">Save</button>

    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Result</ng-template>
    <table class="table">
      <thead class="table-success">
        <tr>
          <th colspan="3">
            Area (ha)
          </th>
          <th colspan="2">
            Total emissions (tCO2-e)
          </th>
          <th rowspan="2">
            Balance
          </th>
        </tr>
        <tr>
          <th>Start</th>
          <th>Without</th>
          <th>With</th>
          <th>Without</th>
          <th>With</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{start1}}</td>
          <td>{{start1-without1}}</td>
          <td>{{start1-with1}}</td>
          <td>{{withoutResult1}}</td>
          <td>{{withResult1}}</td>
          <td style="color: forestgreen;">-{{withoutResult1 - withResult1}}</td>
        </tr>
        <tr>
          <td>{{start2}}</td>
          <td>{{start2-without2}}</td>
          <td>{{start2-with2}}</td>
          <td>{{withoutResult2}}</td>
          <td>{{withResult2}}</td>
          <td style="color: forestgreen;">-{{withoutResult2 - withResult2}}</td>
        </tr>
        <tr>
          <td>{{start3}}</td>
          <td>{{start3 - without3}}</td>
          <td>{{start3 - with3}}</td>
          <td>{{withoutResult3}}</td>
          <td>{{withResult3}}</td>
          <td style="color: forestgreen;">-{{withoutResult3 - withResult3}}</td>
        </tr>

      </tbody>
    </table>
    <div style="margin-top: 10px;">
      <button mat-button matStepperPrevious mat-raised-button color="warn"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
      <button mat-button matStepperNext mat-raised-button color="primary"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;">Next</button>
    </div>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Step 5</ng-template>
    <table class="table">
      <thead class="table-success">
        <tr>
          <th colspan="2">
            Forest degradation level (biomass loss) reference values
          </th>

        </tr>
        <tr>
          <th>Degradation level</th>
          <th>% of biomass lost</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>None</td>
          <td>0%</td>
        </tr>
        <tr>
          <td>Very low</td>
          <td>10%</td>
        </tr>
        <tr>
          <td>Low</td>
          <td>20%</td>
        </tr>
        <tr>
          <td>Moderate</td>
          <td>40%</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>60%</td>
        </tr>
        <tr>
          <td>Extreme</td>
          <td>80%</td>
        </tr>


      </tbody>
    </table>
    <div style="margin-top: 10px;">
      <button mat-button matStepperPrevious mat-raised-button color="warn"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px;">Back</button>
      <button mat-button matStepperNext mat-raised-button color="primary"
        style="font-size: 12px !important; padding: 4px 8px !important; width: 100px; margin-left: 10px;"
        >Next</button>

    </div>
  </mat-step> -->

  <mat-step>
    <ng-template matStepLabel>Chart</ng-template>
    <app-chart></app-chart>
  </mat-step>
</mat-stepper>